* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background: linear-gradient(170deg, #00c9ff, #92fe9d);
  /*background: linear-gradient(170deg, #0072ff, #00c6ff);*/
}

#container {
  width: 300px;
}

#inTodo {
  width: 100%;
}

.todoItem, #btnTodo {
  width: 100%;
  cursor: pointer;
}

.checked, .checked:hover {
  text-decoration: line-through;
}

/*
.stars {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml;utf-8,\
    <svg width='300px' height='300px' viewBox='0 0 300 300' xmlns='http://www.w3.org/2000/svg'>\
      <g stroke-width='2' stroke='rgb(246,166,35)' fill='rgb(248,232,28)'>\
        <polygon points='150 205 85.3436222 238.991869 97.6918916 166.995935 45.3837832 116.008131 117.671811 105.504065 150 40 182.328189 105.504065 254.616217 116.008131 202.308108 166.995935 214.656378 238.991869'></polygon>\
      </g>\
    </svg>");
  background-color: #003366;
  background-size: 50px;
}
*/

.trash {
  background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='trash-alt' class='svg-inline--fa fa-trash-alt fa-w-14' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='currentColor' d='M32 464a48 48 0 0 0 48 48h288a48 48 0 0 0 48-48V128H32zm272-256a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zM432 32H312l-9.4-18.7A24 24 0 0 0 281.1 0H166.8a23.72 23.72 0 0 0-21.4 13.3L136 32H16A16 16 0 0 0 0 48v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16z'%3E%3C/path%3E%3C/svg%3E");
  fill: #66ffff;
  background-size: 15px;
}

.icon-check {

}