* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
}

html {
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 15px;
}

body {
  background: linear-gradient(170deg, #0072ff, #00c6ff);
  background-attachment: fixed;
  display: block;
  overflow: hidden;

  /*background: linear-gradient(170deg, #0072ff, #00c6ff); /* aquatic */
  /*background: linear-gradient(170deg, #00c9ff, #92fe9d); /* blue-cyan */
  /*background: linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C); /* gold */
  /*background: conic-gradient(red, yellow, lime, aqua, blue, magenta, red); /* rainbow */

  /*background: linear-gradient(yellowgreen, green, yellowgreen);
  box-shadow:
    inset 0 0 5px 4px yellowgreen,
    -8px 12px 10px rgba(0, 0, 0, 0.7);*/
}

.loaderPage {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 9998;
  background: #240229;
  background: linear-gradient(170deg, #0072ff, #00c6ff);
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  transition: all 350ms ease;
}

.loader {
  position: relative;
  width: 200px;
  height: 200px;
  border: 1px solid #240229;
  overflow: hidden;
  border-radius: 50%;
  z-index: 9999;
  box-shadow: -5px -5px 5px rgba(255, 255, 255, 0.1),
    10px 10px 10px rgba(0, 0, 0, 0.4),
    inset -5px -5px 5px rgba(255, 255, 255, 0.2),
    inset 10px 10px 10px rgba(0, 0, 0, 0.4);
}

.loader:before {
  content: "";
  position: absolute;
  top: 25px;
  left: 25px;
  right: 25px;
  bottom: 25px;
  z-index: 10;
  background: linear-gradient(170deg, #0072ff, #00c6ff);
  background-attachment: fixed;
  border-radius: 50%;
  border: 1px solid #240229;
  box-shadow: inset -2px -2px 5px rgba(255, 255, 255, 0.2),
    inset 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.loader span {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-image: linear-gradient(
    -225deg,
    #ff057c 0%,
    #8d0b93 50%,
    #321575 100%
  );

  filter: blur(20px);
  z-index: -1;
  animation: animateLoad 0.5s linear infinite;
}

@keyframes animateLoad {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.viewer, .thumbs {
  position: fixed;
  background-image: linear-gradient(200deg, rgba(213, 213, 213, 0.01) 0%, rgba(213, 213, 213, 0.01) 14.286%,rgba(140, 140, 140, 0.01) 14.286%, rgba(140, 140, 140, 0.01) 28.572%,rgba(52, 52, 52, 0.01) 28.572%, rgba(52, 52, 52, 0.01) 42.858%,rgba(38, 38, 38, 0.01) 42.858%, rgba(38, 38, 38, 0.01) 57.144%,rgba(159, 159, 159, 0.01) 57.144%, rgba(159, 159, 159, 0.01) 71.42999999999999%,rgba(71, 71, 71, 0.01) 71.43%, rgba(71, 71, 71, 0.01) 85.71600000000001%,rgba(88, 88, 88, 0.01) 85.716%, rgba(88, 88, 88, 0.01) 100.002%),linear-gradient(337deg, rgba(25, 25, 25, 0.01) 0%, rgba(25, 25, 25, 0.01) 12.5%,rgba(150, 150, 150, 0.01) 12.5%, rgba(150, 150, 150, 0.01) 25%,rgba(84, 84, 84, 0.01) 25%, rgba(84, 84, 84, 0.01) 37.5%,rgba(85, 85, 85, 0.01) 37.5%, rgba(85, 85, 85, 0.01) 50%,rgba(188, 188, 188, 0.01) 50%, rgba(188, 188, 188, 0.01) 62.5%,rgba(80, 80, 80, 0.01) 62.5%, rgba(80, 80, 80, 0.01) 75%,rgba(73, 73, 73, 0.01) 75%, rgba(73, 73, 73, 0.01) 87.5%,rgba(219, 219, 219, 0.01) 87.5%, rgba(219, 219, 219, 0.01) 100%),linear-gradient(203deg, rgba(233, 233, 233, 0.01) 0%, rgba(233, 233, 233, 0.01) 25%,rgba(114, 114, 114, 0.01) 25%, rgba(114, 114, 114, 0.01) 50%,rgba(164, 164, 164, 0.01) 50%, rgba(164, 164, 164, 0.01) 75%,rgba(228, 228, 228, 0.01) 75%, rgba(228, 228, 228, 0.01) 100%),linear-gradient(317deg, rgba(139, 139, 139, 0.02) 0%, rgba(139, 139, 139, 0.02) 16.667%,rgba(44, 44, 44, 0.02) 16.667%, rgba(44, 44, 44, 0.02) 33.334%,rgba(166, 166, 166, 0.02) 33.334%, rgba(166, 166, 166, 0.02) 50.001000000000005%,rgba(2, 2, 2, 0.02) 50.001%, rgba(2, 2, 2, 0.02) 66.668%,rgba(23, 23, 23, 0.02) 66.668%, rgba(23, 23, 23, 0.02) 83.33500000000001%,rgba(21, 21, 21, 0.02) 83.335%, rgba(21, 21, 21, 0.02) 100.002%),linear-gradient(328deg, rgba(3, 3, 3, 0.03) 0%, rgba(3, 3, 3, 0.03) 12.5%,rgba(116, 116, 116, 0.03) 12.5%, rgba(116, 116, 116, 0.03) 25%,rgba(214, 214, 214, 0.03) 25%, rgba(214, 214, 214, 0.03) 37.5%,rgba(217, 217, 217, 0.03) 37.5%, rgba(217, 217, 217, 0.03) 50%,rgba(68, 68, 68, 0.03) 50%, rgba(68, 68, 68, 0.03) 62.5%,rgba(118, 118, 118, 0.03) 62.5%, rgba(118, 118, 118, 0.03) 75%,rgba(200, 200, 200, 0.03) 75%, rgba(200, 200, 200, 0.03) 87.5%,rgba(198, 198, 198, 0.03) 87.5%, rgba(198, 198, 198, 0.03) 100%),linear-gradient(97deg, rgba(195, 195, 195, 0.03) 0%, rgba(195, 195, 195, 0.03) 16.667%,rgba(177, 177, 177, 0.03) 16.667%, rgba(177, 177, 177, 0.03) 33.334%,rgba(170, 170, 170, 0.03) 33.334%, rgba(170, 170, 170, 0.03) 50.001000000000005%,rgba(158, 158, 158, 0.03) 50.001%, rgba(158, 158, 158, 0.03) 66.668%,rgba(121, 121, 121, 0.03) 66.668%, rgba(121, 121, 121, 0.03) 83.33500000000001%,rgba(146, 146, 146, 0.03) 83.335%, rgba(146, 146, 146, 0.03) 100.002%),linear-gradient(268deg, rgba(103, 103, 103, 0.03) 0%, rgba(103, 103, 103, 0.03) 25%,rgba(112, 112, 112, 0.03) 25%, rgba(112, 112, 112, 0.03) 50%,rgba(4, 4, 4, 0.03) 50%, rgba(4, 4, 4, 0.03) 75%,rgba(227, 227, 227, 0.03) 75%, rgba(227, 227, 227, 0.03) 100%),linear-gradient(90deg, hsl(98,0%,0%),hsl(98,0%,0%));
  width: 70%;
  left: 15%;
  box-shadow: -10px 20px 35px rgba(0, 0, 0, 0.7);
  overflow: hidden;
  border-radius: 10px;
  box-shadow:
    inset rgba(0, 0, 0, 0.8) -1px -1px 2px 2px, /* erős, sötét vékony árnyék */
    inset rgba(0, 0, 0, 0.25) -1px -1px 1px 3px, /* gyenge szélesebb belső kiemlés */
    inset rgba(50, 50, 50, 0.6) -1px -1px 2px 4px, /* közepes legszélesebb belső kiemelés */
    -15px 30px 45px rgba(0, 0, 0, 0.7); /* külső árnyék */
}

.viewer {
  height: 55%;
  top: 10%;
  display: flex;
}

.thumbs {
  height: 20%;
  top: 70%;
  text-align: center;
}

.prevImgCont, .nextImgCont, .actImgCont {
  height: 100%;
}

.prevImgCont, .nextImgCont {
  width: 80px;
}

.actImgCont {
  width: calc(100% - 160px);
}

.innerContainer {
  width: calc(100% - 20px);
  height: calc(100% - 40px);
  position: relative;
}

.thumbs, .prevImgCont, .nextImgCont, .actImgCont, .innerContainer {
  /*outline: 1px solid red;*/
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.green {
  width: 90%;
  font-size: 4em;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 10px;
  background: linear-gradient(yellowgreen, green, yellowgreen);
  box-shadow:
    inset 0 0 5px 4px yellowgreen,
    -8px 12px 10px rgba(0, 0, 0, 0.7);
  transition: all 350ms ease;
}

.green:hover {
  background: linear-gradient(green, yellowgreen, green);
  box-shadow:
  inset 0 0 5px 4px green,
  -8px 12px 10px rgba(0, 0, 0, 0.7);
}

.green:hover .prevImgSvg, .green:hover .nextImgSvg {
  fill: green;
}

.green:active {
  background: linear-gradient(#92fe9d, #00c9ff, #92fe9d);
  box-shadow:
  inset 0 0 5px 4px #92fe9d,
  -8px 12px 10px rgba(0, 0, 0, 0.7);
}

.green:active .prevImgSvg, .green:active .nextImgSvg {
  fill: lightgreen;
}

.prevImgSvg, .nextImgSvg {
  width: 100%;
  height: 100%;
  padding: 4px;
  display: inline-block;
  fill: darkgreen;
  transition: fill 350ms ease;
}

.prevImgSvg {
  transform: rotate(0.5turn);
}

.actImg {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  position: absolute;
  transition: all 1400ms ease;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
}

.aktiv {
  opacity: 1;
  z-index: 998;
}

.inaktiv {
  opacity: 0;
  z-index: 998;
}

.imgInfo {
  width: 100%;
  height: 20%;
  top: 100%;
  background: rgba(0, 0, 0, 0.8);
  text-align: left;
  position: absolute;
  transition: all 700ms ease;
  z-index: 999;
}

.toggleInfo {
  position: absolute;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.8);
  width: 40px;
  height: 20px;
  top: -20px;
  right: 15px;
  text-align: center;
  line-height: 20px;
  border-radius: 20px 20px 0 0;
  border-top: 1px solid white;
}

.fa-times {
  fill: white;
  width: 12px;
  height: 12px;
  margin: 5px;
}

.hidden {
  background: rgba(0, 0, 0, 0);
  color: rgba(255, 255, 255, 0);
}

.imgTitle {
  font-family: 'Abril Fatface', cursive;
  font-size: 1.6em;
  padding: 0.05em 0.2em 0;
}

.imgDescription {
  font-family: 'Merriweather', serif;
  font-size: 0.8em;
  font-style: italic;
  padding: 0 0.2em;
}

.small {
  font-size: 0.7em;
  padding: 0.2em;
  position: absolute;
}

.bold {
  font-weight: bold;
}

.originalName {
  right: 0;
  bottom: 0;
}

.licence {
  right: 0;
  bottom: 1em;
}

.forras {
  right: 0;
  bottom: 0;
}

.link {
  text-decoration: none;
}

.link:hover {
  text-shadow:
    0 0 2px yellowgreen,
    0 0 4px green;
}

.modCont {
  width: calc(100% - 40px);
  height: 100%;
  overflow: hidden;
}

.thumbsContainer {
  position: absolute;
  height: 100%;
  display: flex;
  transition: all 100ms linear;
  transform-origin: center top;
  transform-style: preserve-3d;
  transform: translateZ(0);
}

.imgCard, .imgThumb {
  margin: 0;
  width: calc(((100vh * 0.2 * 0.8) -20px) / 1.333);
}

.imgThumb {
  height: 100%;
}

.imgCard {
  height: 80%;
  margin: auto 10px auto 0;
  cursor: pointer;
  float: left;
  transition: all 350ms ease;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
  overflow: hidden;
  position: relative;
}

.imgCard::after {
  content: "";
  z-index: 10;
  width: 200%;
  height: 100%;
  top: -90%;
  left: -20px;
  opacity: 0.2;
  position: absolute;
  transform: rotate(35deg);
  background: linear-gradient(to top, transparent, #fff 15%, rgba(255,255,255,0.8) 35%, rgba(255,255,255,0.5) 45%, rgba(255,255,255,0.2) 60%);
  transition: 300ms;
}

.imgCard:hover, .imgCard:active, .imgCard:focus {
  box-shadow: 0 8px 16px 3px rgba(0,0,0,0.6);
  transform: translateY(-3px) scale(1.1) rotateX(15deg);
}

.imgCard:hover::after, .imgCard:active::after, .imgCard:focus::after, .thumb-aktiv::after {
  transform: rotate(20deg);
  top: -40%;
  opacity: 0.25;
}

.imgCard:hover figcaption, .imgCard:active figcaption, .imgCard:focus figcaption, .thumb-aktiv figcaption {
  transform: none;
}

.imgThumb {
  object-fit: cover;
  overflow: hidden;
}

figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  padding-bottom: 10px;
  background: none;
  text-shadow: 0 1px 1px rgba(#000, .3);
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 10%, rgba(0, 0, 0, 0.5) 40%, rgba(0, 0, 0, 0.3) 70%, transparent);
  transform: translateY(100%);
  transition: 300ms;
}

.thumb-aktiv {
  background: lime;
  border-radius: 15px;
}

.thumb-aktiv .imgThumb{
  /*filter: grayscale(100%) blur(3px);*/
  filter: sepia(100%) blur(3px);
  transform: scale(0.9);
  transition: all 300ms ease;
  border-radius: 15px;
}

.help, .htoggle {
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  transition: all 500ms ease;
  z-index: 999;
}

.help {
  width: 380px;
  height: 200px;
  left: 100%;
  border-radius: 0 0 0 30px;
}

.htoggle {
  width: 60px;
  height: 60px;
  left: -60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50% 0 0 50%;
}

.fa-question-circle {
  fill: #8d0b93;
  width: 40px;
  height: 40px;
}

.htoggle:hover, .help:hover .htoggle {
  opacity: 0;
}

.htoggle:hover, .help:hover {
  left: calc(100% - 380px);
}

.help, .hinfo, .hinfo li {
  font-family: 'Merriweather', serif;
  font-style: italic;
}

.hinfo {
  margin: 20px 40px 20px;
}

.hinfo li {
  font-size: 0.8em;
  line-height: 2em;
}